body {
  font-family: cursive;
  background-color: #ffc6c6; /* Light pink background */
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
  padding: 10px;
  background-color: #e74c3c; /* Red background for header */
  position: fixed;
  color: white;
  font-size: 2em;
  font-weight: bold;
  width: 100%;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  top: 0; /* Ensures the header is at the top */
  left: 0;
  z-index: 1000; /* Ensures the header is above other content */
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #e74c3c; /* Red background for navbar */
  padding: 14px 20px;
  position: fixed; /* Fixes the navbar at the top */
  width: 100%; /* Ensures it spans the full width */
  top: 0px; /* Adjust based on the height of the header */
  left: 0;
  z-index: 1000; /* Ensures the navbar is above other content */
}
.c1{
  position: relative;
  top: 70px;

}

.navbar a {
  color: white; /* White text color for navbar links */
  text-decoration: none;
  padding: 14px 20px;
  display: block;
}

.navbar a:hover {
  background-color: #c0392b; /* Darker red background on hover */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #e74c3c; /* Red background for dropdown button */
  color: white; /* White text color */
  border: none;
  cursor: pointer;
  padding: 14px 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff; /* White background for dropdown content */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #e74c3c; /* Red text color for dropdown links */
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f0f0f0; /* Light grey background on hover */
}

.dropdown:hover .dropdown-content {
  display: block;
}

p {
  text-align: center;
  font-size: 1.2em;
  font-family: cursive;
  margin: 20px;
  color: #e74c3c; /* Red color for paragraph text */
}

.flex-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns per row */
  gap: 10px;
  padding: 60px;
}

.flex-container figure {
  margin: 0;
  text-align: center;
  border-radius: 8px; /* Rounded corners */
  background-color: #fff; /* White background for each figure */
  box-shadow: 0px 4px 8px rgba(0,0,0,0.5); /* Shadow effect for depth */
}

.flex-container img {
  width: 100%;
  height: auto;
  max-height: 250px;
}

figcaption {
  margin-top: 10px;
  font-size: 1em;
  color: #333; /* Dark text color for captions */
  padding-bottom: 8px;
}
